<div class="tweet-form">

  <%= form_for(@tweet) do |f| %>
    <%= image_tag('about_bg.jpg', class: 'form-image') %>

    <div class="form-info">
      <%= f.text_area :content, placeholder: "What's happening?" %>

      <div class="info-toolbar">
        <ul class="toolbar-icons">
          <li><%= fa_icon "camera" %></li>
          <li><%= fa_icon "film" %></li>
          <li><%= fa_icon "map-marker" %></li>
        </ul>

        <div class="toolbar-submit">
          <p>140</p>
          <%= f.submit "Tweet", class: 'btn btn-info' %>
        </div>

      </div>
    </div>
  <% end %>

</div>
