<div class="tweet-form">

  <%= form_for(@tweet) do |f| %>
    <%= image_tag('about_bg.jpg', class: 'tweet-form-image') %>

    <div class="tweet-form-info">
      <%= f.text_area :content, placeholder: "What's happening?" %>

      <div class="tweet-form-info-toolbar">
        <ul class="tweet-form-info-toolbar-icons">
          <li><%= fa_icon "camera", class: 'fa-lg' %></li>
          <li><%= fa_icon "film", class: 'fa-lg' %></li>
          <li><%= fa_icon "map-marker", class: 'fa-lg' %></li>
        </ul>

        <div class="tweet-form-info-toolbar-submit">
          <p>140</p>
          <%= f.submit "Tweet", class: 'btn btn-info' %>
        </div>

      </div>
    </div>



  <% end %>

</div>
