<div id="users-edit">
  <h1>Edit up</h1>
  <div class="sign-form">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.text_field :name, placeholder: "Name" %>

      <%= f.text_field :email_num, placeholder: "Email or Phone" %>

      <%= f.password_field :password, placeholder: "Password" %>

      <%= f.password_field :password_confirmation, placeholder: "Password (Confirm)" %>

      <%= f.submit "Sign up for Tweeter" %>
    <% end %>
  </div>
</div>
