<div id="follow-list">
  <% @follows.each do |follow| %>
    <div class="follow-profile content-box">

      <div class="profile-background">
        <%= image_tag('about_bg.jpg') %>
      </div>
      <div class="profile-information">
        <div class="profile-image">
          <%= image_tag('home_bg_2.jpg') %>
        </div>
        <div id="follow-<%= follow.id %>" class="profile-follow">
          <!-- This rendering method below the comment should give a definition of
          the local variable which names follow unless instance variable. -->
          <%= render 'follows/follow_users', follow: follow %>
        </div>
      </div>
      <div class="profile-description">
        <ul>
          <li><%= link_to follow.name_omit, user_path(follow) %></li>
          <li><p><%= follow.name %></p></li>
        </ul>
        <p>Sample and samples</p>
      </div>

    </div>
  <% end %>
</div>
