<%= render 'shared/user_header' %>

<div id="two-columns">
  <div id="columns-left">
    <%= render 'shared/user_profile' %>

    <%= render 'shared/trends' %>
  </div>

  <div id="columns-right">

      <div id="columns-right-left">
        <div class="content-box">

          <div id="tweet-line">
            <%= render 'shared/tweet_list' %>
          </div>
        </div>

      </div>

      <div id="columns-right-right">
        <%= render 'shared/trends' %>
      </div>

    </div>



</div>
