$(".profile-list > li:nth-child(2)").html('Following<br><%= link_to @user.following.count, following_path(id: @user) %>');
$(".profile-list > li:nth-child(3)").html('Followers<br><%= link_to @user.followers.count, followers_path(id: @user) %>');
$(".header-list > li:nth-child(2)").html('<%= link_to following_path(@user) do %>Following<br><span><%= @user.following.count %></span><% end %>');
$(".header-list > li:nth-child(3)").html('<%= link_to followers_path(@user) do %>Followers<br><span><%= @user.followers.count %></span><% end %>');
$(".follow-user").html("<%= escape_javascript(render('follows/follow_user')) %>");
$('#follow-<%= @follow.id %>').html("<%= escape_javascript(render('follows/follow_users', follow: @follow)) %>");
